$body-bg: #242424;
$base-gutter: 1rem;
$border-radius: 5px;

//$page
$page-navigation-background: #181818;

$navbar-light-color: #222;
$navbar-light-hover-color: #2C3039;
$navbar-light-active-color: #2C3039;

$primary-color: #247FDA;
$secondary-colors: #FFDC7E;
$success-color: #34AA2F;
