@use "../variables";

.btn {
    padding: variables.$base-gutter;
    display: inline-flex;
    border-radius: variables.$border-radius;
    outline: none;

    &.btn-big {
        padding: variables.$base-gutter * 1.5;
    }

    &.btn-round {
        border-radius: 500px;
    }

    &.btn-primary {
        background: variables.$primary-color;
    }

    &.btn-success {
        background: variables.$success-color;
    }
}