.card {
    border: none;

    &.card--content {

        .btn {
            color: #fff
        }
    
        .form-control {
            height: calc(2.5em + 0.75rem + 2px);
            font-size: 14px;
        }
    
        span .error {
            padding: 2px;
            display: block;
        }
    }
}

