$body-bg: #EAF2F5;
$body-color: #000;

$navbar-light-color:          #222;
$navbar-light-hover-color:    #2C3039;
$navbar-light-active-color:   #2C3039;

$theme-colors: (
    'primary': #7dd4e5,
    'danger': #ff4136,
    'orange': #EEB425,
    'light': #fff
);

$container-max-widths: (
    lg: 1200px,
    xl: 1400px
);
