@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

@import 'icons';

$body-bg: #EAF2F5;
$body-color: #000;

$navbar-light-color: #222;
$navbar-light-hover-color: #2C3039;
$navbar-light-active-color: #2C3039;

$theme-colors: ('primary': #7DD4E5,
        'danger': #ff4136,
        'orange': #EEB425,
        'light': #fff);

$container-max-widths: (lg: 1200px,
        xl: 1400px);

@import '../../../node_modules/bootstrap/scss/bootstrap';

:root {
    --header-color: #fff;
    --footer-background-color: #232730;
    --footer-secondary-background-color: #2C3039;
}

html,
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

a {
    opacity: .8;
    transition: opacity 300ms;

    &:hover {
        text-decoration: none;
        opacity: 1;
    }
}

/* footer */

/* cards */

/* sprites */

/* validations */

/* buttons */


/* utilities */

/* Client overlay */

.header {
    background-image: url('../images/web/community/worldmap.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 180px;

    h1 {
        padding-top: 5vh;
    }
}

.userText {
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-top: 3vh;
}

.rankCardFooter {
    background: #2a2a2bd1 !important;
}

.rankTitle {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1rem;
}

hr {
    height: 1px;
    width: 100%;
    background: #eee;
}