@use "../variables";

.home-landing-section {
    background: url('../images/auth/left.png') top left no-repeat, url('../images/auth/right.png') top right no-repeat, variables.$primary-color;
    height: 500px;
    display: flex;
    align-items: center;
}