.page-footer {
    background-color: var(--footer-background-color);
    color: #fff;
    display: flex;
    align-items: center;

    small {
        color: #6A6E77;
    }

    &>.footer--secondary {
        background-color: var(--footer-secondary-background-color);
        color: #fff;

        .list-title {
            font-weight: 600;
            font-size: 1rem;
        }

        .footer--list {
            &>li {
                line-height: 2.5rem;

                a {
                    color: #6A6E77;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }

        p {
            color: #6A6E77;
        }
    }
}