.habbo--section {
    margin-bottom: 1.5rem;

    .section-title {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1rem;
    }

    .section-description {
        color: #222;
    }
}