@use "../variables";

.navigation {
    background-color: #fff;
    overflow: hidden;
    color: #000;

    a {
        color: #313137 !important;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hide {
        margin-right: 22px;
        font-weight: 600;
        color: rgb(var(--color));
        cursor: pointer;
    }

    ul {
        height: 60px;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        border-right: 1px solid rgba(221, 219, 219, 0.4);
        margin-right: 1px;

        li {
            padding: 0 36px;
            border-left: 1px solid rgba(221, 219, 219, 0.4);
            font-size: 14px;
            color: #6D6C6C;
            font-weight: 700;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;
            cursor: pointer;
            margin-right: -1px;
        }
    }
}